.env
vendor/
wp-core/.created_at
wp-core/index.php
wp-core/license.txt
wp-core/readme.html
wp-core/wp-activate.php
wp-core/wp-admin/
wp-core/wp-blog-header.php
wp-core/wp-comments-post.php
wp-core/wp-config-sample.php
wp-core/wp-config.php
wp-core/wp-content/index.php
wp-core/wp-content/plugins/index.php
wp-core/wp-content/plugins/woo-correios-calculo-de-frete-na-pagina-do-produto2/
wp-core/wp-content/plugins/woocommerce-correios/
wp-core/wp-content/plugins/woocommerce/
wp-core/wp-content/themes/
wp-core/wp-content/uploads/
wp-core/wp-cron.php
wp-core/wp-includes/
wp-core/wp-links-opml.php
wp-core/wp-load.php
wp-core/wp-login.php
wp-core/wp-mail.php
wp-core/wp-settings.php
wp-core/wp-signup.php
wp-core/wp-trackback.php
wp-core/xmlrpc.php
