# Configuration file for test suite
.env

# All vendor packages, except Composer autoloader
/vendor/**
!/vendor/autoload*
!/vendor/composer/**

\.idea/

vendor/

tests/_output/

tests/_support/_generated/
tests.bk
