<?xml version="1.0"?>
<ruleset name="">
    <description>Generally-applicable sniffs for WordPress plugins</description>

    <config name="installed_paths" value="vendor/phpcompatibility/php-compatibility" />
    <config name="installed_paths" value="vendor/automattic/vipwpcs" />
    <config name="installed_paths" value="vendor/wp-config-standards/wpcs" />

    <rule ref="WordPress-VIP-Go"/>
    <rule ref="WordPress-Docs">
        <exclude-pattern>*/tests/*</exclude-pattern>
    </rule>
    <rule ref="WordPress">
        <exclude name="WordPress.Files.FileName"/>
        <exclude name="Generic.Arrays.DisallowShortArraySyntax"/>
    </rule>
    <rule ref="TribalScents"/>

    <rule ref="PHPCompatibility"/>
    <config name="testVersion" value="5.6-"/>

	<!-- Strip the filepaths down to the relevant bit. -->
	<arg name="basepath" value="./"/>

	<!-- Check up to 8 files simultanously. -->
	<arg name="parallel" value="8"/>

	<!-- Only check the PHP files. JS, and CSS files are checked separately with @wordpress/scripts package. -->
	<arg name="extensions" value="php"/>

	<!-- Check all files in this directory and the directories below it. -->
	<file>.</file>

    <arg name="extensions" value="php"/>
    <arg value="s"/>

	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/node_modules/*</exclude-pattern>
	<exclude-pattern>/.github/*</exclude-pattern>
</ruleset>
