.settings_page_cfpp-settings input[type="color"]{
    height:60px;
    width:180px;
}

.calculo-de-frete {
    cursor:not-allowed !important;
}
#calcular-frete {
    color: #FFF;
    display: inline-block;
    padding: 0px 20px 0px 62px;
    height: 50px;
    line-height: 50px;
    position: relative;
    height: 52px;
    line-height: 56px;
}
.calculo-de-frete input {
    height: 52px;
    padding: 5px 10px;
    font-size: 20px;
    width: 150px;
    text-align: center;
    cursor:not-allowed !important;
}
.calculo-de-frete svg {
    fill: #FFF;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 8px;
}

.simulacao {
    background: #e3e3e3;
    display: inline-block;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #a5a5a5;
}

.simulacao h2 {
    margin-top:0;
}

#alterar_para_seletor_cor {
    display: none;
}
